body {
  background: #FCF9EA;
  color: #ffffff;
  font-family: sans-serif;
}


/* Section Title */
.section-title {
   margin-top: 30px;
 font-size: 2.8rem;
  color: #1f3c88;
  margin-bottom: 20px;
}

/* Marquee */
.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
  padding: 2rem 0;
 

}

.marquee-content {
  display: flex;
  animation: scroll 60s linear infinite;
  width: fit-content;

}

.marquee-wrapper:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Logo Card */
.logo-card {
  min-width: 100px;
  height: 200px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: rgba(38, 56, 220, 0.03);
  transition: 0.3s ease;
}

.logo-card:hover {
  transform: translateY(-5px) scale(1.05);
}
.logo-image {
  max-height: 310px;
  max-width: 300px;
  /* filter: brightness(3) ; */
}


/* Glow Examples */
.google-glow { box-shadow: 0 0 20px rgba(66,133,244,0.3); }
.tesla-glow { box-shadow: 0 0 20px rgba(231,76,60,0.3); }
.openai-glow { box-shadow: 0 0 20px rgba(16,163,127,0.3); }
.microsoft-glow { box-shadow: 0 0 20px rgba(0,120,215,0.3); }
.amazon-glow { box-shadow: 0 0 20px rgba(255,153,0,0.3); }
.twitter-glow { box-shadow: 0 0 20px rgba(29,161,242,0.3); }














